<div class="container" ng-controller="mainCtrl">
    <table>
        <thead>
        <tr>
            <td></td>
            <td>Name</td>
            <td>Location</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td></td>
            <td><input ng-model="search.client.info.name"></td>
            <td><input ng-model="search.client.info.location"></td>
        </tr>
        <tr ng-dblclick="connect(client.uuid)" ng-repeat="(key, client) in data.clients | filter:search:false">
            <td><div class="circle" ng-class="{circleActive: client.info.active, circleAway: !client.info.active}"></div></td>
            <td>{{client.info.name}}</td>
            <td>{{client.info.location}}</td>
        </tr>
        </tbody>
    </table>
</div>