<div class="table-responsive">
    <table class="table table-striped table-hover table-bordered table-condensed">
        <thead>
        <tr ng-attr-data-intro="{{'HOW_TABLE_SORTING' | translate}}" data-position="bottom" style="cursor: pointer">
            <td ng-click="updateOrder('info.active')" translate>STATUS</td>
            <td ng-click="updateOrder('info.name')" translate>USERNAME</td>
            <td ng-click="updateOrder('info.location')" translate>URL</td>
            <td ng-click="updateOrder('info.ping')" translate>PING</td>
        </tr>
        <tr>
            <td></td>
            <td><input ng-attr-data-intro="{{'SEARCH_USERNAME' | translate}}" data-position="bottom"
                       ng-model="search.info.name"></td>
            <td><input ng-attr-data-intro="{{'SEARCH_LOCATION' | translate}}" data-position="bottom"
                       ng-model="search.info.location">
            </td>
        </tr>
        </thead>
        <tbody>
        <tr style="cursor: pointer" ng-click="toggleConnection(client.uuid)"
            ng-dblclick="connect(client.uuid)"
            ng-repeat="client in data.clients | toArray | filter:search:false | orderBy: data.order : data.reverseOrder"
            ng-class="{success: connected(client.uuid)}"
                >
            <td>
                <div class="circle"
                     ng-class="{circleActive: client.info.active, circleAway: !client.info.active, checked: connected(client.uuid)}"></div>
            </td>
            <td ng-attr-data-intro="{{$index === 7 ? ('HOW_CONNECT' | translate) : nil}}">{{client.info.name}}</td>
            <td ng-attr-data-intro="{{$index === 7 ? ('HOW_OBSERVE' | translate) : nil}}" data-position="top">
                {{client.info.location}}
            </td>
            <td>{{client.info.ping}}</td>
        </tr>
        </tbody>
    </table>
</div>