<!DOCTYPE html>
<html>
<head lang="en">
    <title>Remoting</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.socket.io/socket.io-1.2.1.js"></script>
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="bower_components/angular-filter/dist/angular-filter.js"></script>
    <script type="text/javascript" src="bower_components/chardin.js/chardinjs.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-help-overlay/lib/angular-help-overlay.min.js"></script>
    <script type="text/javascript"
            src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <link type="text/css" rel="stylesheet" href="bower_components/chardin.js/chardinjs.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="bower_components/angular-socket-io/socket.min.js"></script>
    <script src="bower_components/angular-translate/angular-translate.min.js"></script>
    <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
    <style>
        .circle {
            border-radius: 50%;
            display: inline-block;
            margin-right: 20px;
            width: 10px;
            height: 10px;
        }

        .checked {
            background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/5/5a/Red_check.svg/600px-Red_check.svg.png");
            background-size: 10px 10px;
        }

        .circleActive {
            background-color: green;
        }

        .circleAway {
            background-color: goldenrod;
        }
    </style>
    <script>
        function guid() {
            function s4() {
                return Math.floor((1 + Math.random()) * 0x10000)
                        .toString(16)
                        .substring(1);
            }

            return s4() + s4() + '-' + s4() + '-' + s4() + '-' +
                    s4() + '-' + s4() + s4() + s4();
        }
        var app = angular.module('remoting', ['ngRoute', 'btford.socket-io', 'angular.filter', 'angularHelpOverlay', 'ui.bootstrap', 'pascalprecht.translate'], ['$translateProvider', function ($translateProvider) {
            $translateProvider.useStaticFilesLoader({
                prefix: '',
                suffix: '.json'
            });
            $translateProvider.determinePreferredLanguage();
        }]);

        app.factory('socket', function (socketFactory, state) {
            socket = socketFactory({
                ioSocket: io.connect('http://localhost:8082')
            });

            socket.addListener('connect', function () {
                socket.emit('supervisor');
            });
            socket.on('client_updated', function (data) {
                state.clients[data.uuid] = data;
            });

            socket.on('connected_to', function (uuid) {
                state.connectedTo.push(uuid);
            });

            socket.on('disconnected_from', function (uuid) {
                state.connectedTo.splice(state.connectedTo.indexOf(uuid), 1)
            });

            socket.on('client_disconnected', function (uuid) {
                delete state.clients[uuid];
                state.connectedTo.splice(state.connectedTo.indexOf(uuid), 1)
            });

            return socket;
        });

        app.factory('navbarButtons', function () {
            var buttons = [];
            return {
                getButtons: function () {
                    return buttons;
                },
                push: function (button) {
                    buttons.push(button);
                },
                removeAll: function (uuid) {
                    for (var i = 0; i < buttons.length; ++i) {
                        if (buttons[i].uuid === uuid) {
                            buttons.splice(i, 1);
                            i = 0;
                        }
                    }
                }
            };
        });

        app.factory('state', function () {
            var state = {order: 'info.active', reverseOrder: true, clients: {}, connectedTo: []};
            
            state.getConnectedUsersCount = function(){
                return this.connectedTo.length;
            };

            return state;
        });

        app.config(function ($routeProvider, $locationProvider) {
            $routeProvider
                    .when('/', {
                        templateUrl: 'in.html',
                        controller: 'homeCtrl'
                    })
                    .when('/client/:clientid', {
                        templateUrl: 'client.html',
                        controller: 'clientCtrl',
                        resolve: {
                            delay: function ($q, $timeout) {
                                var delay = $q.defer();
                                $timeout(delay.resolve, 500);
                                return delay.promise;
                            }
                        }
                    })
                    .otherwise({redirectTo: '/'});

            $locationProvider.html5Mode({
                enabled: false,
                requireBase: false
            });
        });

        app.controller('mainCtrl', function ($scope, $location, socket, navbarButtons, $translate) {
            $scope.getButtons = navbarButtons.getButtons;
            $scope.showHelp = false;

            navbarButtons.push({
                text: 'SHOW_HELP',
                action: function () {
                    $scope.showHelp = !$scope.showHelp
                }
            });

            navbarButtons.push({
                text: 'CHANGE_LANGUAGE',
                action: function () {
                    $translate.use(($translate.use() === 'en_US') ? 'ru_RU' : 'en_US');
                }
            });
        });

        app.controller('sendMessagesModal', function ($scope, $uibModalInstance, state) {
            $scope.data = {type: 'info'};
            $scope.ok = function () {
                $uibModalInstance.close({message: $scope.data.message, type: $scope.data.type, title: $scope.data.title});
            };

            $scope.getConnectedUsersCount = function() {
                return {users_num: state.getConnectedUsersCount()};
            };

            $scope.cancel = function () {
                $uibModalInstance.dismiss('cancel');
            };
        });
        
        app.controller('countdownModal', function ($scope, $uibModalInstance, state) {
            $scope.ok = function () {
                $uibModalInstance.close($scope.time);
            };

            $scope.getConnectedUsersCount = function() {
                return {users_num: state.getConnectedUsersCount()};
            };

            $scope.cancel = function () {
                $uibModalInstance.dismiss('cancel');
            };
        });


        app.controller('clientCtrl', function ($scope, $routeParams, $location, socket, navbarButtons, state) {
            function init() {
                socket.emit("supervise", $routeParams.clientid);
                socket.on('screen', function (data) {
                    const frame = document.getElementById('frame');
                    var doc = frame.contentWindow.document;
                    doc.open();
                    doc.write(data);
                    doc.close();
                    // $(doc).find('[scrollTop],[scrollLeft]').each(function () {
                    //     $(this).scrollTop($(this).attr("scrollTop"));
                    //     $(this).scrollLeft($(this).attr("scrollLeft"));
                    // });
                    $(doc).find('body').width($(doc).find('body').attr('absWidth'));
                    $(doc).find('body').height($(doc).find('body').attr('absHeight'));
                    //var xScale = $('body').width() / $(doc).find('body').width();
                    //var yScale = $('body').height() / $(doc).find('body').height();
                    $('#frame').width($(doc).find('body').width());
                    $('#frame').height($(doc).find('body').height());
                    doc.getElementById('remoting-arrow').scrollIntoView({block: "center"});

//                $('#frame').css('transform', 'scale('+xScale+', '+yScale+')');
//                $('#frame').css('transform-origin', 'top left');
                });
                socket.on('client_updated', function (data) {
                    if (data.uuid === $routeParams.clientid) {
                        const frame = document.getElementById('frame');
                        let doc = frame.contentWindow.document;
                        let arrow = doc.getElementById('remoting-arrow');
                        arrow.style.top =  data.info.mouseYAbsolute + 'px';
                        arrow.style.left = data.info.mouseXAbsolute + 'px';
                        arrow.scrollIntoView({block: "center"});
                    }
                });
                socket.on("disconnected", function () {
                    $location.path("/");
                });
            }

            init();
            socket.addListener('connect', function () {
                init();
            });

            var uuid = guid();
            $scope.$on('$destroy', function iVeBeenDismissed() {
                navbarButtons.removeAll(uuid);
                socket.emit("unsupervise");
            });
            navbarButtons.push({
                uuid: uuid,
                text: 'DISCONNECT',
                action: function () {
                    $location.path("/");
                }
            });
        });
        app.controller('homeCtrl', function ($scope, $routeParams, $location, socket, navbarButtons, $uibModal, state) {
            var uuid = guid();
            $scope.$on('$destroy', function () {
                navbarButtons.removeAll(uuid)
            });

            $scope.data = state;

            $scope.connected = function (uuid) {
                return state.connectedTo.indexOf(uuid) !== -1;
            };

            $scope.updateOrder = function (order) {
                if (state.order === order) {
                    state.reverseOrder = !state.reverseOrder;
                    return;
                }

                state.order = order;
                state.reverseOrder = true;
            };

            $scope.connect = function (clientid) {
                $location.path("/client/" + clientid);
            };
            $scope.toggleConnection = function (clientid) {
                socket.emit('toggle_connect', clientid);
            };
            $scope.toggleAll = function () {
                state.clients.forEach(function (client) {
                    socket.emit('toggle_connect', client.uuid);
                });
            };
            
            navbarButtons.push({
                uuid: uuid,
                text: 'PING',
                action: function () {
                    socket.emit("requestping");
                }
            });
            navbarButtons.push({
                uuid: uuid,
                text: 'RELOAD',
                tooltip: 'RELOAD_TOOLTIP',
                action: function () {
                    socket.emit("requestreload");
                }
            });
            navbarButtons.push({
                uuid: uuid,
                text: 'COUNT_DOWN',
                tooltip: 'COUNT_DOWN_TIP',
                action: function () {
                    var modalInstance = $uibModal.open({
                        templateUrl: 'countdown.html',
                        controller: 'countdownModal'
                    });
                    modalInstance.result.then(function (time) {
                        socket.emit("countdown", time);
                    });
                }
            });
            navbarButtons.push({
                uuid: uuid,
                text: 'SEND_MESSAGE',
                action: function () {
                    var modalInstance = $uibModal.open({
                        templateUrl: 'sendMessages.html',
                        controller: 'sendMessagesModal'
                    });
                    modalInstance.result.then(function (message) {
                        socket.emit("showmessage", message);
                    });
                }
            });
        });
    </script>
</head>
<body ng-app="remoting" ng-controller="mainCtrl">
<div translate-cloak help-overlay="showHelp">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand">Remoting</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul ng-attr-data-intro="{{'HOW_PERFORM_ACTION' | translate}}" data-position="right"
                    class="nav navbar-nav">
                    <button translate ng-repeat="button in getButtons()" type="button" ng-click="button.action()"
                            class="btn btn-default navbar-btn" tooltip="{{button.tooltip | translate}}"
                            tooltip-placement="bottom">{{button.text}}
                    </button>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid" ng-view style="height: 100%; width: 100%;"></div>
</div>
</body>
</html>